$primary: #141414;
$on-primary: #fff;
$secondary: #490f18;
$on-secondary: #b6b6b6;
$tertiary-color: #ffffff;
$on-tertiary-color: #ffffff;

:export {
  primary: $primary;
  onPrimary: $on-primary;
  accent: $secondary;
  onAccent: $on-secondary;
  tertiaryColor: $tertiary-color;
  onTertiaryColor: $on-tertiary-color;
}



