$primary-color: #fff;
$accent-color: #FFB6C1;
$default-color: #2E2E2E;

$background-color:#000;

:export {
  primaryColor: $primary-color;
  accentColor: $accent-color;
  defaultColor: $default-color;
}



