@use "@styles/_mixin.module";
@use "@styles/theme.module.scss";


// フェードイン
.fadein {
  opacity: 0;
  position: fixed;
  top: 10px;
  right: 10px;
  transform: translateY(-100px);
  transition: .5s;
}
.fadein.appear {
  opacity: 1;
  transform: translateY(0);
}

// ハンバーガーメニュー
.hamburger_line {
  position: absolute;
  border-radius: 10px;
  background-color: theme.$on-primary;
  transition: 0.5s;
}

.hamburger_container {
  z-index: 1000;
  width: 65px;
  height: 30px;
  cursor: pointer;

  span {
    @extend .hamburger_line;
    top: 25%;
    left: 50%;
    width: 60px;
    height: 2px;
    transform: translate(-50%, -50%);

    &::before {
      @extend .hamburger_line;
      content: "";
      top: 15px;
      left: 50%;
      width: 100%;
      height: 100%;
      transform: translate(-50%, -50%);
    }
  }
}

.hamburger_container.active {
  span {
    top: 50%;
    transform: translate(-50%, -50%) rotate(15deg);
    background-color: theme.$on-secondary;

    &::before {
      top: 50%;
      transform: translate(-50%, -50%) rotate(-30deg);
      background-color: theme.$on-secondary;
    }
  }
}

// メニュー
@keyframes menu_item_animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu_container {
  opacity: 0;
  display: none;
}

.menu_container.active {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  animation-name: menu_item_animation;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  color: theme.$on-secondary;
}

.menu_content {
  display: flex;
  gap: 100px;
  nav {
    ul {
      display: flex;
      flex-direction: column;
      gap: 50px;
      letter-spacing: 3px;
      li {
        font-size: 72px;
      }
    }
  }
  .logo_sns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    span {
      display: block;
      width: 200px;
      height: 2px;
      background: theme.$on-secondary;
      margin: 20px auto 40px;
    }
    .sns {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }
  }
}

.circle {
  position: fixed;
  z-index: 3;
  width: 300vw;
  height: 300vh;
  background: theme.$secondary;
  transform: rotate(-90deg) translate3d(100vw, 0, 0);
  transform-origin: 0 0;
  top: 0;
  left: 0;
  transition: ease-in 0.75s;
  will-change: transform;
}

.circle.active {
  transform: rotate(0deg) translate3d(0px, 0px, 0);
  transform-origin: 0 0;
  width: 150vw;
  height: 150vh;
}
