@use "@styles/_mixin.module";

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 64px);
  width: 100%;
  gap: 50px;
  h1 {
    font-size: 72px;
    letter-spacing: 25px;
    margin-bottom: 100px;
    margin-right: -25px;
  }
  img {
    width: 60vw;
    height: auto;
  }
}

@include mixin.mq(lg) {
  .top {
    flex-wrap: wrap-reverse;
    position: relative;
    h1 {
      margin-bottom: 0;
    }
    img {
      margin-left: 5%;
    }
  }
}

@include mixin.mq(md) {
  .top {
    img {
        width: 100%;
      }
  }
}

@include mixin.mq(sm) {
  .top {
      flex-wrap: nowrap;
      flex-direction: column-reverse;
      gap: 50px;
    h1 {
      font-size: 42px;
    }
  }
}

@include mixin.mq(xs) {
  .top {
    h1 {
      font-size: 30px;
      letter-spacing: 20px;
      margin-right: -20px;
    }
  }
}