@use "@styles/_mixin.module";

.profile {
  padding: 30px 0;
  min-height: 100vh;
  width: 100%;

  .title {
    opacity: 0;
    transition: .5s;
    transform: translateX(-200px);
    margin-bottom: 50px;
  }

  .title.active {
    opacity: 1;
    transform: translateX(0);
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    .image {
      width: 420px;
      height: auto;
      aspect-ratio: 3 / 4;
    }
    .text {
      position: relative;

      &::before {
        content: url('/profile_frame.png');
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .name {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
  }
}

@include mixin.mq(lg) {
  .profile {
    padding: 50px 0 100px;

    .content {
      flex-direction: column;
      gap: 150px;
    }
  }
}

@include mixin.mq(md) {
  .profile {
    .content {
      .image {
        width: 60%;
        height: auto;
      }
    }
  }
}

@include mixin.mq(sm) {
  .profile {
    .title {
      transform: translateX(-100px) scale(0.5);
      transform-origin: bottom left;
    }
    .title.active {
      opacity: 1;
      transform: translateX(0) scale(0.5);
    }
    .content {
      gap: 100px;
      .image {
        width: 90%;
      }
    }
  }
}